<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="form">
        <form method="get" th:action="@{/processForm}">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Whats your name?">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>